.container-description-model {
  padding: 40px 15px 79px;

  .row-description{
    
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 55px;

      .even{
        order: 1;
      }

      .odd{
        order: 2;
      }

      h3, p {
        max-width: 385px;
      }
    }

    .row-text {
      @media (min-width: $breakpoint-tablet) {
        &.even {
          margin-left: 8%;
        }

        &.odd {
          margin-right: 8%;
        }
      }
    }

    img {
      width: 100%;

      @media (min-width: $breakpoint-tablet) {
        max-width: 559px;

        &.even {
          margin-right: 8%;
        }

        &.odd {
          margin-left: 8%;
        }
      }
    }

    h3 {
      margin: 20px 0;

      font-family: $montserrat;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.35;
      letter-spacing: -0.4px;
      color: $filter-grey;
    }

    p {
      margin-bottom: 39px;

      font-family: $montserrat;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.69;
      letter-spacing: -0.1px;
      color: $filter-grey;
    }
  }
}