@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;

600;700&display=swap);@import url(//db.onlinewebfonts.com/c/453c30f61f42e715218a487d5978f27f?family=ToyotaType-Semibold);*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
  color:inherit;
}

a:hover{
  text-decoration:none;
  color:inherit;
}

p{
  margin:0;
}

#p-flag{
  visibility:hidden;
}

.header{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  min-width:375px;
  min-height:70px;
  padding:0 15px;
  border-bottom:1px solid #f7f7f7;
  background-color:#ffffff;
}

@media (min-width: 768px){
  .header .mobile{
    display:none;
  }
}

.header .logo-ego{
  min-width:38px;
  min-height:40px;
  cursor:pointer;
}

.header .button-nav{
  min-width:28px;
  min-height:20px;
  cursor:pointer;
}

.header .container-nav-desk{
  display:none;
}

@media (min-width: 768px){
  .header .container-nav-desk{
    display:flex;
  }

  .header .container-nav-desk .tab{
    position:relative;
    min-width:126px;
    font-family:"Montserrat", sans-serif;
    font-size:14px;
    font-weight:600;
    font-stretch:normal;
    font-style:normal;
    line-height:40px;
    text-align:center;
    letter-spacing:normal;
    color:#191919;
  }

  .header .container-nav-desk .tab:first-of-type{
    margin-left:77px;
    margin-right:41px;
  }

  .header .container-nav-desk .selected{
    color:#eb0a1e;
  }

  .header .container-nav-desk .selected::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-15px;
    width:100%;
    height:3px;
    background-color:#d0021b;
  }

  .header .container-nav-desk .menu{
    margin-right:12px;
    font-family:"Montserrat", sans-serif;
    font-size:14px;
    font-weight:normal;
    font-stretch:normal;
    font-style:normal;
    line-height:normal;
    letter-spacing:normal;
    color:#191919;
  }
}

.footer{
  min-width:375px;
  min-height:50px;
  font-family:"Montserrat", sans-serif;
  background-color:#000000;
}

.container-models{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  min-width:375px;
  padding-top:43px;
}

@media (min-width: 768px){
  .container-models{
    flex-direction:row;
    flex-wrap:wrap;
    padding-right:150px;
    padding-left:150px;
  }
}

.container-models .container-car{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-bottom:44px;
}

.container-models .container-car h3{
  width:200px;
  font-family:"Montserrat", sans-serif;
  font-size:28px;
  font-weight:600;
  font-stretch:normal;
  font-style:normal;
  line-height:1.07;
  letter-spacing:-0.65px;
  text-align:center;
  color:#000000;
}

.container-models .container-car p{
  width:268px;
  height:18px;
  font-family:"Montserrat", sans-serif;
  font-size:14px;
  font-weight:normal;
  font-stretch:normal;
  font-style:normal;
  line-height:normal;
  letter-spacing:-0.28px;
  text-align:center;
  color:#191919;
}

.container-hero{
  margin-top:40px;
  padding:0 15px;
}

@media (min-width: 768px){
  .container-hero{
    padding-left:150px;
    padding-right:150px;
  }
}

.container-hero h1{
  width:345px;
  height:88px;
  font-family:"Montserrat", sans-serif;
  font-size:35px;
  font-weight:bold;
  font-stretch:normal;
  font-style:normal;
  line-height:1.26;
  letter-spacing:-0.7px;
  color:#191919;
}

@media (min-width: 768px){
  .container-hero h1{
    width:unset;
    font-size:50px;
    line-height:1.14;
    letter-spacing:-1px;
    color:#373737;
  }
}

.container-filters{
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  min-height:20px;
  margin-top:40px;
  padding:0 15px 20px;
  border-bottom:1px solid #d8d8d8;
}

@media (min-width: 768px){
  .container-filters{
    padding-right:150px;
    padding-left:150px;
  }
}

.container-filters #order{
  min-width:103px;
}

.container-filters .text-button-filter{
  display:inline-block;
  margin-right:8px;
  font-family:"Montserrat", sans-serif;
  font-size:14px;
  font-weight:600;
  font-stretch:normal;
  font-style:normal;
  line-height:1;
  letter-spacing:0.08px;
  text-align:right;
  color:#373737;
  cursor:pointer;
}

.container-filters .invert{
  transform:rotate(-180deg);
}

.container-filters .dropdown-filter{
  position:absolute;
  top:20px;
  list-style-type:none;
  background-color:#ffffff;
  border-radius:5px;
  box-shadow:2px 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.container-filters .dropdown-filter .item-dropdown{
  display:block;
  min-width:158px;
  min-height:37px;
  padding-left:8px;
  font-family:"Montserrat", sans-serif;
  font-size:10px;
  font-weight:normal;
  font-style:normal;
  font-stretch:normal;
  line-height:3.5;
  letter-spacing:-0.1px;
  cursor:pointer;
  color:#191919;
  border-top:1px solid #d8d8d8;
}

.container-filters .dropdown-filter .item-dropdown:first-child{
  border-top:none;
  background-color:rgba(209, 214, 214, 0.2);
}

.container-filters .left{
  display:none;
  margin-left:15px;
  left:0px;
}

.container-filters .left.display{
  display:block;
}

@media (min-width: 768px){
  .container-filters .left.display{
    display:none;
  }
}

.container-filters .right{
  display:none;
  margin-right:15px;
  right:0px;
}

@media (min-width: 768px){
  .container-filters .right{
    margin-right:150px;
  }
}

.container-filters .right.display{
  display:block;
}

.container-filters #filter-desk{
  display:none;
}

.container-filters #filter-desk p{
  margin-top:12px;
}

.container-filters .container-select-buttons{
  display:flex;
  flex-wrap:wrap;
}

.container-filters .select-button-filter{
  margin-left:45px;
  padding:9px 18px;
}

.container-filters .select-button-filter:first-of-type{
  border-radius:50px;
  background-color:#f7f7f7;
}

@media (min-width: 768px){
  .container-filters #filter-desk{
    display:flex;
    flex-direction:row;
    justify-content:center;
  }

  .container-filters #filter{
    display:none;
  }
}

.container-nav{
  display:none;
  flex-direction:column;
  align-items:flex-end;
  justify-content:center;
  min-height:858px;
  background-color:rgba(0, 0, 0, 0.95);
}

.container-nav.show-nav{
  display:flex;
}

.container-nav .white-container{
  min-width:375px;
  padding:0 17px;
  background-color:#ffffff;
}

.container-nav .grey-container{
  min-width:375px;
  padding:0 17px;
  background-color:#efeeef;
}

.container-nav #button-cross-nav{
  margin-top:20px;
  font-family:"Montserrat", sans-serif;
  font-size:14px;
  font-weight:normal;
  font-stretch:normal;
  font-style:normal;
  line-height:normal;
  letter-spacing:normal;
  text-align:right;
  color:#000000;
}

.container-nav #button-cross-nav img{
  margin-left:11px;
  margin-right:10px;
}

.container-nav .container-nav-items{
  max-width:338px;
  padding:30px 0;
  padding-right:36px;
  list-style-type:none;
  border-bottom:1px solid #d8d8d8;
}

.container-nav .container-nav-items.no-border{
  border:none;
}

.container-nav .container-nav-items li{
  margin:10px 0;
}

.container-nav .container-nav-items li a{
  display:block;
  font-family:"Montserrat", sans-serif;
  font-size:20px;
  font-weight:normal;
  font-stretch:normal;
  font-style:normal;
  line-height:normal;
  letter-spacing:-0.1px;
  text-align:right;
  color:#000000;
}

.container-hero-model{
  padding:0 15px 38px;
}

@media (min-width: 768px){
  .container-hero-model{
    display:flex;
    justify-content:space-around;
    margin-top:80px;
  }

  .container-hero-model .container-hero-description{
    max-width:475px;
  }
}

.container-hero-model img{
  width:100%;
  margin-bottom:42px;
}

@media (min-width: 768px){
  .container-hero-model img{
    height:100%;
    max-width:559px;
  }
}

.container-hero-model h3{
  margin-bottom:13px;
  font-family:"Montserrat", sans-serif;
  font-size:20px;
  font-weight:600;
  font-stretch:normal;
  font-style:normal;
  line-height:1.35;
  letter-spacing:normal;
  color:#373737;
}

.container-hero-model h2{
  margin-bottom:20px;
  font-family:"Montserrat", sans-serif;
  font-size:35px;
  font-weight:600;
  font-stretch:normal;
  font-style:normal;
  line-height:1.26;
  letter-spacing:-0.7px;
  color:#191919;
}

@media (min-width: 768px){
  .container-hero-model h2{
    font-size:50px;
    line-height:1.14;
    letter-spacing:-1px;
  }
}

.container-hero-model p{
  font-family:"Montserrat", sans-serif;
  font-size:16px;
  font-weight:normal;
  font-stretch:normal;
  font-style:normal;
  line-height:1.69;
  letter-spacing:-0.1px;
  color:#373737;
}

@media (min-width: 768px){
  .container-hero-model p{
    max-width:385px;
  }
}

.container-carousel{
  padding:50px 15px 52px;
  background-color:#f7f7f7;
}

@media (min-width: 768px){
  .container-carousel{
    display:block;
    margin:0 auto;
    padding-left:34%;
    padding-right:34%;
  }
}

.container-carousel img{
  margin-bottom:22px;
}

.container-carousel .carousel-image-title{
  margin-bottom:20px;
  font-family:"Montserrat", sans-serif;
  font-size:20px;
  font-weight:600;
  font-stretch:normal;
  font-style:normal;
  line-height:1.35;
  letter-spacing:-0.4px;
  color:#373737;
}

.container-carousel .carousel-image-subtitle{
  margin-bottom:20px;
  font-family:"Montserrat", sans-serif;
  font-size:16px;
  font-weight:normal;
  font-stretch:normal;
  font-style:normal;
  line-height:1.69;
  letter-spacing:-0.1px;
  color:#373737;
}

.container-carousel .carousel-indicators{
  bottom:-20px;
}

.container-carousel .carousel-indicators li{
  width:8px;
  height:8px;
  border:none;
  border-radius:50px;
  background-color:#4a4a4a;
}

.container-carousel .carousel-indicators li.active{
  width:38px;
}

.container-description-model{
  padding:40px 15px 79px;
}

@media (min-width: 768px){
  .container-description-model .row-description{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:55px;
  }

  .container-description-model .row-description .even{
    order:1;
  }

  .container-description-model .row-description .odd{
    order:2;
  }

  .container-description-model .row-description h3,
  .container-description-model .row-description p{
    max-width:385px;
  }
}

@media (min-width: 768px){
  .container-description-model .row-description .row-text.even{
    margin-left:8%;
  }

  .container-description-model .row-description .row-text.odd{
    margin-right:8%;
  }
}

.container-description-model .row-description img{
  width:100%;
}

@media (min-width: 768px){
  .container-description-model .row-description img{
    max-width:559px;
  }

  .container-description-model .row-description img.even{
    margin-right:8%;
  }

  .container-description-model .row-description img.odd{
    margin-left:8%;
  }
}

.container-description-model .row-description h3{
  margin:20px 0;
  font-family:"Montserrat", sans-serif;
  font-size:20px;
  font-weight:600;
  font-stretch:normal;
  font-style:normal;
  line-height:1.35;
  letter-spacing:-0.4px;
  color:#373737;
}

.container-description-model .row-description p{
  margin-bottom:39px;
  font-family:"Montserrat", sans-serif;
  font-size:16px;
  font-weight:normal;
  font-stretch:normal;
  font-style:normal;
  line-height:1.69;
  letter-spacing:-0.1px;
  color:#373737;
}

