/* Ego Provided Colors */
$white: #ffffff;
$cherry-red: #eb0a1e;
$scarlet: #d0021b;
$font-grey: #191919;
$filter-grey: #373737;
$indicators-grey: #4a4a4a;
$nav-grey: #efeeef;
$line-grey: #d8d8d8;
$light-grey: #f7f7f7;

/* Website Colors */
$black: #000000;